.App {
  text-align: center;
}

.App-logo {
    margin-top: 3%;
    height: 10vmin;
    display: block;
    margin-left: 9%;
    margin-right: auto;
}

canvas {
    background: #F5F5F5;
    width: 100%;
    height: calc(100% - 10vmin);
    margin-top: 2%;
}​


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.logo {
    display: flex;
}

.rules {
    width: 25%;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    margin-right: 7%;
    margin-top: 3%;
    font-size: 120%;
}

@media screen and (max-width: 768px) {
  .rules {
    display: block;
    width: auto;
    margin-left: 20px;
    margin-right: 10px;
    font-size: 120%;
  }
}

.relaxation {
    font-weight: 500;
}
